{% extends "templates/base.twig" %}

{% block title %} Admin view{% endblock %}

{% block body %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>



<h2>Welcome to Admin Portal</h2>


<h3> Books Available In Library </h3>
    
    <table class="table " id="books">
        <thead>
            <tr align="center">
              
                <th>
                    Book Name
                </th>
                  <th>
                    Number of books
                </th>
           
            </tr>
        </thead>

        <tbody>
            {% for bookData in booksAvailable %}
                   
                <tr align="center">
                  <td>
                        {{ bookData.bookName }} 
                    </td>

                    <td>
                        {{ bookData.number }}
                    </td>
                 
       
            {% endfor %}
        </tbody>
</table>


<form action="/addBook" method="POST">

  <div class="mb-3">
    <label>Book Name</label>
    <input type="text" name="bookName" class="form-control addBook"  > 
  </div>

  <div class="mb-3">
    <label>Number</label>
    <input type="text" name="number" class="form-control addBook"  >
  </div>
  
  <button type="submit" class="btn btn-primary">Add Book</button>
  
</form>

<h3> Pending requests </h3>
    
    <table class="table table-dark table-striped" id="books">
        <thead>
            <tr align="center">
                <th>
                    Book Name
                </th>
                <th>
                    Username
                </th>
                 <th>
                    Accept
                </th>   
                 <th>
                    Deny
                </th>   
            </tr>
        </thead>

        <tbody>
            {% for bookData in requests %}
                   
                <tr align="center">

                    <td>
                        {{ bookData.bookName }}
                    </td>
                    <td>
                        {{ bookData.username }} 
                    </td>
                    <td>   
                       <form action= "/acceptReq" method = "POST">
                        <input type="hidden" id="bookName" name="bookName" value="{{ bookData.bookName }}">
                       <input type="hidden" id="username" name="username" value="{{ bookData.username }}">
                                         
                     <button  type="submit" class="btn btn-primary">Accept</button>
                     </form> 
                    </td>
                     <td>
                     <form action= "/denyReq" method = "POST">
                     <input type="hidden" id="bookName" name="bookName" value = "{{ bookData.bookName }}">
                     <input type="hidden" id="username" name="username" value="{{ bookData.username }}">                       
                     <button  type="submit" class="btn btn-primary">Deny</button>
                     </form> 
                   
                    </td>
                {% endfor %}
            </tbody>
        </table>

    <form action= "/" method = "GET">                             
        <button  type="submit" class="btn btn-primary">Home</button>
    </form>
     
</body>
</html>
{% endblock %}

