

{% extends "templates/base.twig" %}

{% block title %} Client view - {{ client.username }}{% endblock %}

{% block body %}
<h1>Welcome {{ client.name }}</h1>

<h2> Books Available In Library </h2>
    
    <table  id="books">
        <thead>
            <tr align="center">
                <th>
                    Book Name
                </th>
                <th>
                    Number of books
                </th>
                
                 <th>
                    Checkin
                </th>     
            </tr>
        </thead>

        <tbody>
            {% for bookData in booksAvailable %}
                   
                <tr align="center">
                   <td>
                        {{ bookData.bookName }} 
                    </td>

                    <td>
                        {{ bookData.number }}
                    </td>
                 
                    <td>
                    <form action= "/checkIn" method = "POST">
                    <input type="text" name="username" hidden value="{{ client.username }}">
                     <input type="text" name="bookName" hidden value = "{{ bookData.bookName }}">
                        
                         <button  type="submit" class="btn btn-primary">Check In</button>
                          </form> 
                    </td>       
                    
            {% endfor %}
        </tbody>
</table>


<h2> My Books </h2>
    
    <table  id="books">
        <thead>
            <tr align="center">
                
                <th>
                    Book Name
                </th>
                 <th>
                    Check Out
                </th>  
                 <th>
                    Date Issued
                </th>   
            </tr>
        </thead>

        <tbody>
            {% for data in myBooks %}
                   
                <tr align="center">   
                    <td>
                        {{ data.bookName }} 
                    </td>
                    <td>
                     <form action= "/checkOut" method = "POST">
                       <input  id="bookName" name="bookName"  type="hidden" value="{{ data.bookName }}">
                       <input  id="username" name="username" type="hidden" value="{{ client.username }}">
                                       
                     <button  type="submit" class="btn btn-primary">Check Out</button>
                     </form> 
                    </td>      
                    <td>
                        {{ data.issued_on }}
                    </td>
                     
            {% endfor %}
        </tbody>
</table>


<p >The amount of pending fine is {{ client.fine }}</p>


{% endblock %}
